.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.github/**
tsconfig.json
**/*.ts
**/*.map
node_modules/**
!node_modules/.bin/
**/.eslintrc.json
commitlint.config.js
CONTRIBUTING.md
.claude/**
